---
layout: default
---

<div id="archive-link">
  <a href="/archives/articles">See all posts in Articles</a>
</div>

<div class="blog-index">
  {% assign index = true %}  
  {% for post in site.categories.articles limit: site.index_posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
</div>

<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
