---
layout: default
title: "News"
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.categories.news limit: site.index_posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
</div>
<aside class="sidebar">
  {% include custom/asides/get_tracks.html %}
  {% include asides/github.html %}
  {% include custom/asides/community.html %}
  {% include custom/asides/recent_news.html %}
  {% include custom/asides/resources.html %}
  {% include custom/asides/gpl.html %}
</aside>
