// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  > header {
    font-size: 1em;
    padding-top: 0;
    padding-bottom: 0;
    height: 250px;
  }
}

div#archive-link {
  margin: 0px auto;
  text-align: center;
  a { text-decoration: none;
    &:hover { text-decoration: underline; } }
}

/* This removes the background styling from buttons in the asides */
a.button img {
  background: none;
  border: none;
  box-shadow: none;
}
